.arena {
  display: flex;
}

.pokebola_abre {
  transform: rotateY(180deg);
  border: 1px solid red;
}

.pokebola {
  display: flex;
  animation: animPoke 3s ease-in-out;
  animation-fill-mode: forwards;
  .pokebola:after {
    display: none;
  }
}

@keyframes animPoke {
  0% {
    animation-delay: 1000ms;
    transform: translateY(-600px) translateX(-300px);
  }
  50% {
    transform: translateY(300px) translateX(-300px);
  }
  //   99% {
  //     opacity: 1;
  //   }
  100% {
    transform: translateY(-100px) translateX(-300px);
    // opacity: 0;
  }
}
