.main {
  width: 100vw;
  height: 100vh;

  .container-primary {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .loginCashier {
      width: 28vw;
      height: 65vh;
      background: #1e2233;
      border-radius: 8px;
      padding: 30px;

      h1 {
        margin-top: 10px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: white;
      }

      .forms {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        input {
          outline: unset;
          height: 5vh;
          padding: 20px;
          margin-bottom: 30px;
          border: 1px solid #3B97D9;
          border-radius: 8px;
          font-weight: 500;
          font-size: 22.5px;
        }

        input:focus {
          background-color: white;
        }

        input::placeholder {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: #7D7E80;
        }

        button {
          border-radius: 8px;
          border: none;
          margin-top: 20px;
          background-color: #3B97D9;
          height: 7.55vh;
          cursor: pointer;

          h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #1E1E1F;
          }
        }
      }
    }

    .buttonTheme {
      align-items: flex-start;
      margin-top: 20px;
    }
  }
}