<div class="main">
    <div class="container-primary">
        <div class="loginCashier">
            <img src="../../../assets/img/image 1.png" alt="">
            <h1>
                Comece a coletar pokémons!
            </h1>
            <form data-testid="rootmain" class="forms" [formGroup]="validateForm" (ngSubmit)="fazLogin()">
                <input  formControlName="email" type="text" placeholder="email address" >
                <input  formControlName="password" type="password" placeholder="password" >
                <button type="submit"> <h2>ENTRAR</h2></button>
            </form>
        </div>
    </div>

    <div>
        <!-- <img src="../../../assets/img/charizard.png" alt=""> -->
    </div>
</div>