<div class="card">
    <div class="fav">
        <button (click)="favoritar()">
            <img *ngIf="!fav" src="../../../assets/img/heart.png" alt="">
            <img *ngIf="fav" src="../../../assets/img/heart (1).png" alt="">
        </button>
    </div>
    <div class="imgPokemon">
        <img src="" alt="pokemon">
    </div>
    <div class="infoPokemon">
        <h3>{{name}}</h3>
        <p>ID: {{id}}</p>
        <ul class="powers" >
            <li *ngFor=" let types of types; index as i " [ngClass]="types.type.name === 'fire' ? 'fire' : types.type.name === 'water' ? 'water' : 'eletric'  " >{{types.type.name}}</li>
        </ul>
    </div>
    <div class="detalhePokemon">
        <button class="detalha">Ver Detalhes</button>
    </div>
</div>