.main {
  border: 1px solid red;
  padding-top: 90px;
  padding-left: 138px;
  padding-right: 138px;
}

.filtros{
    margin-bottom: 38px;
    display: flex;
    button{
        margin-right: 8px;
        width: 10.7vw;
        padding: 12px;
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid #6b6868;

        font-family: Poppins;
        font-weight: 500;
        size: 12px;
        color: #343232;
    }
    .active {
        background-color: var(--primarybrisa);
    }

}

.pokemons {

}
