.card {
  width: 11.46vw;
  height: 33.01vh;
  background-color: var(--component);
  padding: 7px;
  border-radius: 8px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.fav {
  display: flex;
  justify-content: flex-end;
  
  button {
    background-color: transparent;
  }
}

.imgPokemon {
  display: flex;
  justify-content: center;
  height: 8.39vh;
}

.infoPokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-top: 6px;

  h3 {
    color: var(--text-color);
    margin-bottom: 7px;
  }

  p {
    color: var(--text-menu);
    margin-bottom: 7px;
  }

  .powers {
    display: flex;
    width: 100%;

    li {
      width: 3.51vw;
      border-radius: 8px;
      margin-right: 3px;
      text-align: center;
      padding: 2.5px;
    }

    .fire{
        background-color: #FF9D55;
        color: white;
    }

    .eletric{
        background-color: #F4D23C;
        color: black;
    }

    .water{
        background-color: #5090D6;
        color: white;
    }

    .normal{
      background-color: #919AA2;
      color: white;
    }

    .grass{
      background-color: #63BC5A;
      color: black;
    }

    .flying {
      background-color: #89AAE3;
      color: black;
    }

    .fighting {
      background-color: #CE416B;
      color: white;
    }

    .poison {
      background-color: #B567CE;
      color: white;
    }

    .ground {
      background-color: #D97845;
      color: black;
    }

    .rock {
      background-color: #C5B78C;
      color: white;
    }

    .psychic {
      background-color: #FA7179;
      color: black;
    } 

    .ice {
      background-color: #73CEC0;
      color: black;
    }

    .bug {
      background-color: #91C12F;
      color: black;
    }

    .ghost {
      background-color: #5269AD;
      color: white;
    }

    .steel {
      background-color: #5A8EA2;
      color: white;
    }

    .dragon {
      background-color: #0B6DC3;
      color: black;
    }

    .dark {
      background-color: #5A5465;
      color: white;
    }

    .fairy {  
      background-color: #EC8FE6;
      color: black;
    }
  }

}

.detalhePokemon {
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-bottom: 10px;

  .detalha {
    height: 4.48vh;
    width: 100%;
    border-radius: 8px;
    background-color: var(--primarybrisa);
  }
}
