<div class="arena">
  <div>
    <img *ngIf="Pokebola" class="pokebola" src="../../../assets/gif/pokeboll_rola.gif" alt="" width="180px" height="180px">
    <img *ngIf="Pokebola_abre" class="pokebola_abre" src="../../../assets/gif/pokeboll_livre.gif" alt="" width="280px" height="280px">
    <img *ngIf="Pokemon" class="pokemon" src="../../../assets/pikachu/pika_pose.gif" alt="" width="280px" height="280px">
  </div>

  <div>
    <img *ngIf="Pokebola2" class="pokebola2" src="../../../assets/gif/pokeboll_rola.gif" alt="" width="180px" height="180px">
    <img *ngIf="Pokebola_abre2" class="pokebola_abre2" src="../../../assets/gif/pokeboll_livre.gif" alt="" width="280px" height="280px">
    <img *ngIf="Pokemon2" class="pokemon2" src="../../../assets/charizard/chari_pose.gif" alt="" width="280px" height="280px">
  </div>
  
</div>