.arena {
  display: flex;
}

.pokebola {
  display: flex;
  animation: animPoke 3s ease-in-out;
  animation-fill-mode: forwards;
}

.pokebola_abre {
  display: flex;
  margin-right: 200px;
  transform: rotateY(180deg);
}

.pokemon {
  display: flex;
  margin-right: 600px;
  margin-top: 85px;
  transform: rotateY(180deg);
}

@keyframes animPoke {
  0% {
    animation-delay: 1000ms;
    transform: translateY(-600px) translateX(-300px);
  }
  50% {
    transform: translateY(300px) translateX(-300px);
  }
  100% {
    transform: translateY(0px) translateX(-300px);
  }
}

// secund ball

.pokebola2 {
  display: flex;
  animation: animPoke2 3s ease-in-out;
  animation-fill-mode: forwards;
}

.pokebola_abre2 {
  display: flex;
}

.pokemon2 {
  display: flex;
}

@keyframes animPoke2 {
  0% {
    animation-delay: 1500ms;
    transform: translateY(600px) translateX(300px);
  }
  50% {
    transform: translateY(300px) translateX(300px);
  }
  100% {
    transform: translateY(-100px) translateX(100px);
  }
}
